*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
header{
    width: 100%;
    box-shadow: 0 0.5px 20px rgba(0, 0, 0, 0.7);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;

}

header a{
    display: inline-block;
    padding: 15px;
    position: relative;
    margin: 10px;
}

a{
    color: black;
    text-decoration: none;
}


  
header a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content{
    display: grid;
    width: 960px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 540px 596.65px;
    gap: 20px;
    height: 820px;
    margin: 20px auto;
}

.img1{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(221, 219, 219);
}
p{
    position: absolute;
    z-index: 2;
    font-size: 60px;
    font-weight: bold;
}
img{
    width: 960px;
    position: absolute;
}

.img1::after{
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    transition: opacity 0.25s;
}

.img1:hover::after{
    opacity: 0.5;
    transition: opacity 0.25s;
}


.img2{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.img2::after{
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    transition: opacity 0.25s;
}

.img2:hover::after{
    opacity: 0.5;
    transition: opacity 0.25s;
}
